:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --accent-forst-color: #263238;
  --accent-second-color: #939393;
  --decription-color: #8f95a5;

  --landing-background-color: #e5e5e5;
  --card-background-color: #f5f5f5;
  --price-background-color: #eeeeee;
}

/* Styles reset */
h1,
h2,
h3,
h4,
a,
address,
img,
ul,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul {
  list-style: none;
}

button {
  border: 0;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Global style */

/* Header */

/* Main */

/* Footer */
